name: Detect first-time contributors

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write
  issues: write

jobs:
  gate:
    runs-on: ubuntu-latest
    if: >-
      (github.repository == 'PabloMK7/testaibot') &&
      (github.event.action == 'opened') &&
      (github.event.pull_request.author_association != 'COLLABORATOR') &&
      (github.event.pull_request.author_association != 'CONTRIBUTOR') &&
      (github.event.pull_request.author_association != 'MANNEQUIN') &&
      (github.event.pull_request.author_association != 'MEMBER') &&
      (github.event.pull_request.author_association != 'OWNER')
    steps:
      - name: Detect PR if first-time contributor
        uses: actions/github-script@v7
        with:
          script: |
            const { owner, repo } = context.repo;
            const pr = context.payload.pull_request;

            const label = 'needs verification';

            await github.rest.issues.addLabels({
              owner,
              repo,
              issue_number: pr.number,
              labels: [label],
            });

            await github.rest.pulls.update({
              owner,
              repo,
              pull_number: pr.number,
              state: 'closed',
            });

            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number: pr.number,
              body: 'Welcome to Azahar Emulator! Due to the surge of AI bots we have decided to add an extra verification step to new contributors. Please follow the exact instructions that were told to you in order to reopen the PR.',
            });
